.body{
  background: #fafafa;
}

.dino{
  width: 60px;
  height: 60px;
  background-image: url(dino.png);
  position: absolute;
  bottom: 0;
}

.cactus{
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(cactus.png);
}

.game-over{
  text-align: center;
  color: #666666;
  margin-top: 50px;
  font-family: arial, serif;
}

@keyframes slideright{
  from{
    background-position: 70000%;
  }
  to {
    background-position: 0;
  }
}

.background{
  position: absolute;
  bottom: 0;
  background-image: url(background.png);
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}

.counter{
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 5%;
  left: 5%;
  font-family: arial, serif;
  font-size: 40px;
  font-weight: 700;
  color: #666666;
}
